.pic {
    width: 4vw;
    position: relative;
}

#contain {
    position: relative;
    width: 100%;
    display: flex;
    animation: boxmove 0.2s linear forwards;
    perspective: 1000;
    transform: translateZ(0);
}

.left {
    height: 100%;
    display: inline-block;
    /* float: right; */
    width: 40vw;
    position: relative;
    animation: boxmove 5s linear forwards;
}

.right {
    height: 100%;
    display: inline-block;;
    /* float: left; */
    width: 50%;
    position: relative;
}
#tao{
    /* display: flex; */
    white-space: pre;
}
#l_stick {
    float: left;
    height: 12.5vw;
    margin-left: 1.5vw;
    position: relative;
    /* background-size: 100%; */
    background-size: contain;
    /* width: 21.5px;  */
    background-image: url("../img/left.png");
    background-repeat: no-repeat;
    /* animation: leftmove 0.6s ease-out forwards; */
}

#r_stick {
    float: left;
    height: 12.5vw;
    bottom: 50%;
    margin-left: 39.5vw;
    position: relative;
    background-size: contain;
    left: -50vw;
    background-image: url("../img/right.png");
    background-repeat: no-repeat;
    /* animation: rightmove 0.6s ease-out  forwards; */
}

.bg {
    transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    clear: both;
}

#r_bg {
    /* float: right; */
    /* display: inline; */
    background-size: 29vw;
    background-image: url("../img/rightbg.png");
    background-repeat: no-repeat;
}

#l_bg {
    /* float: left; */
    /* display: inline; */
    /* position: absolute; */
    background-size: 29vw;
    background-image: url("../img/leftbg.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-clip: padding-box;
}

#l_bg.bg {
    width: 5vw;
    opacity: 1;
    height: 50%;
    /* transform: translate(40vw,0,0) ; */
    /* -webkit-transform: translate(-10px,0);
    transform: translate(-10px,0);
        position: initial;
    transition: transform 1s;
    -webkit-transition: transform 1s;
    transition-timing-function: ease; */
    animation: left1 5s linear forwards;
}

#r_bg.bg {
    opacity: 1;
    width: 5vw;
    height: 50%;
    /* -webkit-transform: translate(10px,0);
    transform: translate(10px,0);
    position: initial;
    transition:transform 1s;
    transition-delay:0.8s;
    -webkit-transition: transform 1s;
    transition-timing-function: ease; */
    animation: right1 5s linear forwards;

}

/* @-webkit-keyframes leftmove{
    0%{
        margin-left:35vw;
    }
    100%{
        margin-left: -4.5%;
    }
}
@-webkit-keyframes rightmove{
    0%{
        margin-left: 55vw; 
        left: -50vw;
        bottom: 50%;
    }
    100%{
        margin-left: 39.5vw;
        left:-0.5vw;
        bottom: 50%;
    }
} */
/* @-webkit-keyframes boxmove {
    0% {
        transform: translateX(36vw) translateZ(0);
    
    }
    70%{
        transform: translateX(10vw);
    }
    100% {
        transform: translate(0vw,0,0);
    }
} */

@-webkit-keyframes left1 {
    0% {
        width: 10vw;
        margin-left: 30vw;
        opacity: 0;
        height: 50%;
        transform:  scale(1,1,1);
        transform:  width ;
    }

    100% {
        /* margin-right: -40vw; */
        width: 40vw;
        /* margin-right: -40vw; */
        opacity: 1;
        height: 50%;
        transform: scale(8,1,1);
    }
}

@-webkit-keyframes right1 {
    0% {
        /* width: 10vw; */
        opacity: 0;
        height: 50%;
        /* margin-right: -10vw; */
        transform: translate(-1.1vw,0,0) scaleX(1,1);
    }

    100% {
        width: 40vw;
        opacity: 1;
        height: 50%;
        transform: translate(0vw,0,0) scaleX(8,1);
    }
}